.racer_card:hover {
  cursor: pointer;
}

.large_icon {
  font-size: 22px;
  vertical-align: sub;
}

.toggled {
  background-color: #9E9E9E;
  box-shadow: inset 0px 0px 5px !important;
}

.toggled:hover {
  cursor: not-allowed !important;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  transform: scale(1) !important;
}

.addOrRemove {
  float: right;
  display: inline-block;
  top: 35%;
  position: absolute;
  right: 0;
  font-size: 24px;
  width: 24px !important;
  height: 24px !important;
  border-radius: 10px;

  box-shadow: 0px 0px 20px 10px white, inset 0px 0px 20px 10px white;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.addOrRemove:hover {
  cursor: pointer;

  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}
