<div class="center_container">
  <h1>Place your bets!</h1>
  <div class="content_container">
    <div class="inner_container">
      <h2>Place your bets</h2>
      <div>
        <button class="button" mat-raised-button color="primary" type="submit" routerLink="/raceteam">Choose racers
        </button>
      </div>

      <div>
        <button class="button" mat-raised-button color="primary" type="submit" routerLink="/yourteam">View team</button>
      </div>

      <div>
        <button class="button" mat-raised-button color="primary" type="submit" routerLink="/predict">Predict max's end
          position
        </button>
      </div>
    </div>
  </div>

  <!-- Dit moeten alle leden van de groep worden met een optie om hun keuzes te zien wanneer je er een selecteerd -->
  <div class="content_container">
    <div class="inner_container">
      <div id="title">
        <h2>All racers in this pool: </h2>
      </div>
      <ul class="racers">
        <li *ngFor="let racers of Racers">
          <span class="badge">{{racers.id}}</span> {{racers.lastName}} {{racers.salary}}
        </li>
      </ul>
    </div>
  </div>
</div>
