<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login_form">
  <h2>Login</h2>
  <p *ngIf="!this.errorMessage" class="notice_message">Log in with your existing Aquadis account, otherwise you can <a routerLink="/register">register!</a></p>
    <p *ngIf="this.errorMessage" class="error_message">Invalid username or password</p>
  <mat-form-field class="login_input">
    <input matInput type="email" placeholder="Email" formControlName="email">
  </mat-form-field>

  <mat-form-field class="login_input">
    <input matInput type="password" placeholder="Password" formControlName="password">
  </mat-form-field>

  <div>
    <button class="button" mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login
    </button>
    <a class="register_link" routerLink="/register"><p>Register</p></a>
  </div>
</form>
<mat-spinner class="loader" *ngIf="loading"></mat-spinner>
