<div class="center_container">
  <h1 *ngIf="race">{{race.name}}</h1>

  <div *ngIf="this.userService.isAdmin()" class="content_container">
    <div class="inner_container">
      <h2>Admin tools</h2>
      <p>Change name</p>
      <p>Change name</p>
      <button class="button" mat-raised-button color="primary" type="submit" routerLink="/betting">Make your bet</button>
    </div>
  </div>

  <div *ngIf="isCurrentRace" class="content_container">
    <div class="inner_container">
      <h2>First off...</h2>
      <p>Bet on Max Verstappen his ending position to gain some extra points!</p>
      <article>
        <h4><span>Select a position:</span></h4>
        <mat-form-field>
          <mat-select placeholder="Position">
            <mat-option *ngFor="let position of positions" [value]="position.value">
              {{position.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </article>
      <button class="button" mat-raised-button color="primary" type="submit">Save position</button>
    </div>
  </div>

  <div class="content_container">
    <div class="inner_container">
      <h2>Teams</h2>
      <p>Participating Teams!</p>
        <details *ngFor="let team of teams">
          <summary><mat-card class="selection_card"><p class="card_text_ellipsis"><mat-icon class="icon">people_outline</mat-icon>{{team.name}}</p></mat-card></summary>
          <mat-card *ngFor="let racer of team.racer" class="selection_card_half_width"><p class="card_text_ellipsis"><mat-icon class="icon">person_outline</mat-icon>{{racer.firstName}} {{racer.lastName}}</p><mat-icon class="icon">attach_money</mat-icon>{{racer.salary}}</mat-card>
        </details>
    </div>
  </div>

  <div *ngIf="isCurrentRace" class="content_container">
    <div class="inner_container">
      <h2>Groups</h2>
      <p>Choose a group to bet with:</p>
      <ul class="unordered_list_no_style">
        <li *ngFor="let group of groups$">
          <mat-card routerLink="/betting/{{group.id}}" class="selection_card"><mat-icon class="icon">group</mat-icon>{{group.name}}</mat-card>
        </li>
      </ul>
    </div>
  </div>
</div>
<mat-spinner class="loader" *ngIf="loading"></mat-spinner>
