<div class="center_container">
  <h1 *ngIf="race">{{race.name}}</h1>
  <div class="content_container">
    <div class="inner_container">
      <h2>First off...</h2>
      <p>Bet on Max Verstappen his ending position to gain some extra points!</p>

      <article>
        <h4><span>Select a position:</span></h4>
        <mat-form-field>
          <mat-select placeholder="Position">
            <mat-option *ngFor="let position of positions" [value]="position.value">
              {{position.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </article>

      <button class="button" mat-raised-button color="primary" type="submit">Save position</button>
    </div>
  </div>

  <div class="content_container">
    <div class="inner_container">
      <h2>Groups</h2>
      <p>Your groups:</p>
      <ul class="groups">
        <li *ngFor="let group of groups">
          <a class="badge">{{group.name}}</a>
        </li>
      </ul>
      <button class="button" mat-raised-button color="primary" type="submit" routerLink="/betting">Make your bet</button>
    </div>
  </div>
</div>
