@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#logoutButton {
  position: absolute;
  right: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}
