<div class="center_container">
  <div class="content_container">
    <div class="inner_container">

      <form [formGroup]="addRaceForm" (ngSubmit)="onSubmit()" class="form">
        <h2>Add new race</h2>
        <p *ngIf="this.race" class="notice_message">New race created with name: <u>{{this.race.name}}</u></p>
        <mat-form-field class="form_input">
          <input matInput type="text" placeholder="Name" formControlName="name" required>
        </mat-form-field>

        <mat-form-field class="form_input">
          <input matInput type="text" placeholder="Location" formControlName="location" required>
        </mat-form-field>


        <mat-form-field class="form_input_half_width">
          <input matInput [min]="startDate" [matDatepicker]="startPicker" formControlName="startDate" placeholder="Choose a start date" required>
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form_input_half_width">
          <input matInput [min]="startDate" [matDatepicker]="endPicker" formControlName="endDate" placeholder="Choose a end date" required>
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>

        <div>
          <button class="button" mat-raised-button color="primary" type="submit" [disabled]="!addRaceForm.valid">Add
            new race
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<mat-spinner class="loader" *ngIf="loading"></mat-spinner>

