<div class="center_container">

  <h1 *ngIf="this.user$" class="welcomeUser">Welcome, {{this.user$.firstName}} {{this.user$.lastName}}</h1>
  <h1 *ngIf="this.userService.isAdmin()">Is admin</h1>

  <div class="content_container">
    <div class="inner_container">
      <h2>Races</h2>
      <p>Current race:</p>
      <mat-card *ngIf="this.races" routerLink="/race/{{races[0].id}}" class="selection_card">{{races[0].name}}<br><mat-icon class="icon">date_range</mat-icon>{{races[0].startDate | date:'MMMM d'}}   - {{races[0].endDate | date:'longDate'}}</mat-card>
      <p>All races:</p>
      <ul class="unordered_list_no_style">
        <li *ngFor="let race of races">
            <mat-card routerLink="/race/{{race.id}}" class="selection_card">{{race.name}}</mat-card>
        </li>
      </ul>
      <button class="button" mat-raised-button color="primary" type="submit" routerLink="/add-race">Add new race
      </button>
    </div>
  </div>

  <div class="content_container">
    <div class="inner_container">
      <h2>Groups</h2>
      <p>Your groups:</p>
      <ul class="unordered_list_no_style">
        <li *ngFor="let group of groups$">
          <mat-card routerLink="/group/{{group.id}}" class="selection_card">{{group.name}}</mat-card>
        </li>
      </ul>
      <button class="button" mat-raised-button color="primary" type="submit" routerLink="/add-group">Add new group
      </button>
    </div>
  </div>
</div>
