<div class="center_container">

  <h1 *ngIf="this.user$" class="welcomeUser">Welcome, {{this.user$.firstName}} {{this.user$.lastName}}</h1>
  <h1 *ngIf="this.userService.isAdmin()">Is admin</h1>

  <div class="content_container">
    <div class="inner_container">
      <h2>Races</h2>
      <p>Current race:</p>
      <mat-card *ngIf="this.currentRace" routerLink="/race/{{currentRace.id}}" class="selection_card"><mat-icon class="icon">label</mat-icon>{{currentRace.name}}<br>
        <mat-icon class="icon">date_range</mat-icon>{{currentRace.startDate | date:'MMMM d'}}   - {{currentRace.endDate | date:'longDate'}}</mat-card>
      <p>Upcoming races:</p>
      <ul class="unordered_list_no_style">
        <li *ngFor="let race of races; let i = index">
            <mat-card *ngIf="i < 3" routerLink="/race/{{race.id}}" class="selection_card"><mat-icon class="icon">label</mat-icon>{{race.name}}</mat-card>
        </li>
      </ul>
      <button class="button" mat-raised-button color="primary" type="submit" routerLink="/add-race">Add new race
      </button>
    </div>
  </div>

  <div class="content_container">
    <div class="inner_container">
      <h2>Groups</h2>
      <p>Your groups:</p>
      <ul class="unordered_list_no_style">
        <li *ngFor="let group of groups$">
          <mat-card routerLink="/group/{{group.id}}" class="selection_card"><mat-icon class="icon">group</mat-icon>{{group.name}}</mat-card>
        </li>
      </ul>
      <button class="button" mat-raised-button color="primary" type="submit" routerLink="/add-group">Add new group
      </button>
    </div>
  </div>
</div>
<mat-spinner class="loader" *ngIf="loading"></mat-spinner>
