.user_list {
  list-style-type: none;
  background-color: blue;
}

.user {
  background-color: transparent;
}

.center_container {
  flex-direction: row;
}

.Button{
  background-color: #D3D3D3;
  margin-top: 10px;
  margin-bottom: 10px;
}


