@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button{
  margin-top: 10px !important;
  margin-right: 10px !important;
}

.content_container{
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
}

.inner_container {
  margin: 10px;
  padding: 1px 0px 10px 0px;
}

.center_container {
  margin: 0 auto;
  width: 65%;
  max-width: 650px;
}

.error_message {
  color: red;
}

.notice_message {
  color: inherit;
}

.loader {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -100px !important;
  margin-left: -50px !important;
}

.content {
  margin: 10px;
}

.selection_card {
  margin-bottom: 10px;
  transition: all 0.5s !important;
}

.selection_card:hover {
  cursor: pointer;
  transform: scale(1.025);
  transition: all 0.25s !important;
}

.unordered_list_no_style {
  list-style: none;
  padding: 0;
}

@media only screen and (max-width: 650px) {

  .center_container {
    width: 100%;
  }

.content_container {
  width: 100%;
  padding: 0px;
  border: none;
  min-height: 0px;
}
}
