<div class="center_container">
  <h1>Groups</h1>
  <div *ngIf="group$" class="content_container">
    <div class="inner_container">
      <h2>{{group$.name}}</h2>
      <div class="users">
        <div class="user_card" *ngFor="let user of users$">
          <span class="users_name">{{user.firstName}} {{user.lastName}}</span>
          <a><strong>{{user.points}}</strong></a>
        </div>
      </div>
      <div>
        <button class="button" mat-raised-button color="primary" type="submit" routerLink="/group/{{groupID}}/add-people">Add friend</button>
      </div>
    </div>
  </div>
  <div class="content_container">
    <div class="inner_container">
      <h2>Change group</h2>
      <p>Select a group</p>
      <ul class="unordered_list_no_style">
        <li *ngFor="let group of groups$" (click)="onSelect(group)">
          <mat-card class="selection_card">
            <div matRipple class="selection_card_ripple_content" [matRippleColor]="gray">
              <mat-icon class="icon">label</mat-icon>
              {{group.name}}
            </div>
          </mat-card>
        </li>
      </ul>
      <div *ngIf="selectedGroup">
        <button class="button" mat-raised-button color="primary" type="submit" routerLink="/group/{{selectedGroup.id}}"
                (click)="refreshGroup()">Change to {{selectedGroup.name}}</button>
      </div>
    </div>
  </div>
</div>
<mat-spinner class="loader" *ngIf="loading"></mat-spinner>
