.group-page{
  border: 1px solid black;
  margin: auto;
}

.group_card {
  margin-bottom: 10px;
  transition: all 0.5s;
}

.group_card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.25s;
}

.unordered_list_no_style {
  list-style: none;
  padding: 0;
}
